@import url(~sanitize.css/sanitize.css);

#main {
    padding: 20px;
} 

.container {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 3px solid #996633;
  }
  
  .is-move {
    border: 2px solid transparent;
    border-color: #6699ff;
  }
  
  .is-move:hover {
    border: 3px solid transparent;
    border-color: #3366FF;
  }
  
  .is-not-move {
    border: 2px solid transparent;
    border-color: #dbdbdb;
  }
  
  .piece {
    font-size: 1.8rem;
  }
  
  
  .incorrect {
    color: #808080;
  }
  
  .correct {
    color: #ff3399;
  }
  
  .num {
    font-size: 1.6em;
  }